In [28]:
import numpy as np
import pandas as pd
import sklearn as sk
import HSBCAPI
#import PyTorch as pt

In [29]:
from HSBCAPI import load_customer_info, load_transaction_history, load_CPI_holding, load_CPI_mapping, load_CPI, load_QDUT_holding, load_QDUT
from HSBCAPI import load_ISST_Summary, load_Cust_Purchase_Ind, load_DD_Acct_20170630
from HSBCAPI import load_QDUT_mapping, load_insurance_holding, load_insurance_mapping, load_insurance, load_TD_holding, load_TD_mapping, load_TD

In [30]:
#import all data
cust_info = load_customer_info()
transaction_history = load_transaction_history()
ISST_Summary = load_ISST_Summary()
#Cust_Purchase_Ind = load_Cust_Purchase_Ind()
DDACCT = load_DD_Acct_20170630()
#Credit_Card_Txn = load_Credit_Card_Txn()
CPI_Input = load_CPI()
QDUT_Input = load_QDUT()
Insurance_Input = load_insurance()
TMD_Input = load_TD()

c:\users\brian\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3214: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):

In [31]:
#Pre-preprocessing
cust_info = cust_info.drop(["OccuDesc","BusDesc"], axis = 1)
cust_info.reset_index()

,index,Customer_id,age,FirstContactDay,PBK_Ind,HIB_Status,OccuCode,Gender,Cntry_Correspondence,InterCorpACIndicator,...,IncomeLevel,Salary,Period_Salary,Marital_Status,Number_Children,Education_Level,Home_Ownership,Car_Ownership,Cust_Segment,BusSector
0,0,500999800150176,55.0,20090819,0,NaN,9.0,F,CN,N,...,6,25000.0,M,2.0,0.0,NaN,NaN,Y,Attrition,00130
1,1,500999800895910,38.0,20170927,1,N,2.0,M,CN,N,...,8,80000.0,M,NaN,0.0,NaN,NaN,NaN,A,00275
2,2,500999800182523,35.0,20160108,1,N,2.0,M,CN,N,...,5,10000.0,M,NaN,0.0,NaN,NaN,NaN,Attrition,NaN
3,3,500999800319932,31.0,20131111,0,NaN,16.0,M,CN,N,...,7,30000.0,M,NaN,0.0,NaN,NaN,NaN,Attrition,00194
4,4,500999800818899,30.0,20170703,0,NaN,3.0,M,CN,N,...,5,200000.0,Y,2.0,0.0,4.0,1.0,NaN,D,
5,5,500999800375760,NaN,20150720,0,NaN,NaN,NaN,CN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,
6,6,500999800438751,32.0,20120727,0,NaN,2.0,M,CN,N,...,4,8001.0,M,NaN,0.0,NaN,NaN,NaN,Attrition,NaN
7,7,500999800566712,39.0,20130510,1,N,2.0,M,CN,Y,...,9,100000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
8,8,500999800429901,NaN,20100607,0,NaN,NaN,NaN,CN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Attrition,
9,9,500999801122196,38.0,20180606,0,NaN,1.0,M,CN,N,...,8,680000.0,Y,2.0,0.0,4.0,4.0,NaN,D,
10,10,500999801040158,31.0,20180305,0,NaN,3.0,M,CN,N,...,5,150000.0,Y,2.0,0.0,4.0,1.0,NaN,D,
11,11,500999800933280,24.0,20171108,0,NaN,3.0,F,CN,N,...,5,150000.0,Y,1.0,0.0,4.0,1.0,NaN,D,
12,12,500999801014287,30.0,20180130,0,NaN,3.0,M,CN,N,...,6,350000.0,Y,1.0,0.0,4.0,1.0,NaN,D,
13,13,500999800253791,49.0,20060907,0,NaN,1.0,F,CN,Y,...,7,480000.0,NaN,2.0,0.0,5.0,NaN,NaN,A,00180
14,14,500999800683115,30.0,20170120,1,N,3.0,M,CN,Y,...,7,30000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
15,15,500999801076915,39.0,20180222,1,N,2.0,F,CN,N,...,7,30000.0,M,2.0,0.0,4.0,NaN,NaN,A,00125
16,16,500999800861513,41.0,20170823,0,NaN,3.0,F,CN,N,...,4,100000.0,Y,1.0,0.0,4.0,4.0,NaN,D,
17,17,500999800553192,54.0,20090907,1,N,9.0,F,CN,Y,...,0,0.0,M,NaN,0.0,NaN,4.0,NaN,A,00130
18,18,500999800887850,31.0,20170920,0,NaN,3.0,M,CN,N,...,5,150000.0,Y,2.0,0.0,4.0,1.0,NaN,D,
19,19,500999800955142,35.0,20171129,0,NaN,3.0,M,CN,N,...,3,90000.0,Y,2.0,0.0,3.0,3.0,NaN,Attrition,NaN
20,20,500999801116679,31.0,20180530,1,N,3.0,M,CN,N,...,3,90000.0,Y,1.0,0.0,3.0,1.0,NaN,D,
21,21,500999801049963,37.0,20180314,1,N,1.0,M,CN,N,...,8,50000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
22,22,500999800383543,54.0,20101213,0,NaN,2.0,M,CN,Y,...,A,200000.0,M,2.0,0.0,4.0,NaN,NaN,A,00130
23,23,500999800959568,32.0,20171204,0,NaN,3.0,F,CN,N,...,5,150000.0,Y,2.0,0.0,4.0,NaN,NaN,A,00261
24,24,500999800028871,46.0,20120207,0,NaN,11.0,F,CN,N,...,2,4500.0,M,2.0,2.0,3.0,NaN,NaN,Attrition,00080
25,25,500999800597444,43.0,20160718,0,NaN,11.0,F,CN,N,...,5,15000.0,M,2.0,1.0,2.0,NaN,NaN,Attrition,00202
26,26,500999800807246,33.0,20170620,0,NaN,3.0,M,CN,N,...,3,80000.0,Y,2.0,1.0,4.0,6.0,NaN,D,
27,27,500999800486000,27.0,20151123,0,NaN,16.0,F,CN,N,...,3,6000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
28,28,500999800667312,29.0,20170105,0,NaN,2.0,M,CN,N,...,6,250000.0,Y,2.0,2.0,4.0,5.0,NaN,D,
29,29,500999800377301,56.0,20060829,0,NaN,2.0,M,CN,Y,...,5,15000.0,M,2.0,1.0,4.0,4.0,Y,A,00130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300009,300009,500999800780754,34.0,20170522,0,NaN,3.0,M,CN,N,...,5,200000.0,Y,2.0,1.0,5.0,3.0,NaN,D,
300010,300010,500999801070895,31.0,20180403,0,NaN,3.0,M,CN,N,...,5,200000.0,Y,2.0,0.0,4.0,3.0,NaN,D,NaN
300011,300011,500999800902139,30.0,20171009,0,NaN,3.0,F,CN,N,...,4,100000.0,Y,1.0,0.0,3.0,1.0,NaN,D,
300012,300012,500999800514046,31.0,20160530,1,NaN,2.0,M,CN,N,...,5,12000.0,M,NaN,0.0,NaN,NaN,NaN,A,00329
300013,300013,500999800236882,44.0,20061225,1,NaN,2.0,M,CN,Y,...,8,100000.0,M,2.0,0.0,5.0,NaN,NaN,A,00080
300014,300014,500999801100970,39.0,20180510,1,N,3.0,M,CN,N,...,5,200000.0,Y,2.0,0.0,4.0,1.0,NaN,D,
300015,300015,500999800604628,48.0,20160817,1,N,2.0,F,CN,Y,...,8,66588.0,M,NaN,0.0,NaN,NaN,NaN,A,00107
300016,300016,500999800254027,43.0,20070907,0,NaN,2.0,M,CN,N,...,8,75000.0,M,2.0,0.0,5.0,NaN,Y,Attrition,00130
300017,300017,500999800698821,36.0,20170215,0,NaN,2.0,F,CN,N,...,6,250000.0,Y,2.0,0.0,4.0,5.0,NaN,Attrition,
300018,300018,500999800237088,37.0,20110217,1,N,2.0,M,CN,Y,...,5,240000.0,Y,NaN,0.0,NaN,NaN,NaN,A,00250
300019,300019,500999800023404,53.0,20090825,0,NaN,16.0,F,CN,N,...,2,4000.0,M,NaN,0.0,NaN,4.0,NaN,Attrition,00060
300020,300020,500999800571302,59.0,20110322,1,N,10.0,F,CN,Y,...,2,4500.0,M,2.0,0.0,4.0,NaN,NaN,A,00130
300021,300021,500999800604403,31.0,20160816,0,NaN,2.0,M,CN,N,...,3,7000.0,M,1.0,0.0,4.0,NaN,NaN,B,00202
300022,300022,500999800692034,24.0,20170208,1,N,2.0,M,CN,N,...,5,168000.0,Y,NaN,0.0,NaN,NaN,NaN,A,00015
300023,300023,500999800830863,61.0,20170714,0,NaN,2.0,M,CN,N,...,5,200000.0,Y,2.0,1.0,4.0,4.0,NaN,D,
300024,300024,500999800382665,49.0,20130318,1,NaN,2.0,F,CN,N,...,9,10000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
300025,300025,500999800638657,43.0,20161208,1,N,2.0,M,CN,Y,...,8,70000.0,M,NaN,0.0,NaN,NaN,NaN,A,00331
300026,300026,500999801061071,24.0,20180323,1,N,3.0,F,CN,N,...,4,100000.0,Y,1.0,0.0,3.0,5.0,NaN,D,
300027,300027,500999800822557,31.0,20170706,0,NaN,1.0,M,CN,N,...,5,180000.0,Y,2.0,2.0,4.0,3.0,NaN,D,
300028,300028,500999800302017,39.0,20130326,1,NaN,16.0,M,CN,N,...,6,24000.0,M,1.0,0.0,5.0,1.0,NaN,B,00130
300029,300029,500999800689081,23.0,20170204,0,NaN,15.0,M,CN,N,...,7,0.0,M,1.0,0.0,4.0,NaN,NaN,A,00130
300030,300030,500999800073831,44.0,20150707,1,N,2.0,M,CN,N,...,9,100000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
300031,300031,500999801044197,24.0,20180308,0,NaN,3.0,F,CN,N,...,4,100000.0,Y,1.0,0.0,4.0,5.0,NaN,D,
300032,300032,500999800135345,56.0,20060907,0,NaN,1.0,M,CN,N,...,8,50000.0,M,3.0,0.0,4.0,NaN,NaN,A,00150
300033,300033,500999800135034,49.0,20080509,0,NaN,2.0,M,CN,N,...,6,25000.0,M,2.0,0.0,5.0,NaN,Y,Attrition,00080
300034,300034,500999800856528,48.0,20170817,1,N,2.0,M,CN,N,...,9,30000.0,M,NaN,0.0,NaN,NaN,NaN,A,00405
300035,300035,500999800106832,NaN,20111008,0,NaN,NaN,NaN,CN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Attrition,
300036,300036,500999800200458,30.0,20151207,0,NaN,16.0,M,CN,N,...,4,9000.0,M,NaN,0.0,NaN,NaN,NaN,Attrition,00130
300037,300037,500999800193136,37.0,20150202,1,NaN,2.0,M,CN,N,...,6,20000.0,M,NaN,0.0,NaN,NaN,NaN,A,00130
300038,300038,500999800876504,25.0,20170908,0,NaN,3.0,M,CN,N,...,3,80000.0,Y,1.0,0.0,4.0,6.0,NaN,D,

In [32]:
transaction_history = transaction_history.replace("TMD PLACEMENT", "P")
transaction_history = transaction_history.replace("TMD WITHDRAWAL", "W")

In [33]:
#cust_id_list = []
#cust_id_list = cust_info.index.tolist()
#print(len(cust_id_list))

#allaccountsbalance = 0 * len(cust_id_list)
#allaccountsavg = 0 * len(cust_id_list)
#tempdex = 0
#counter = 0

#####this runtime is too long, need to shorten
#for index, row in DDACCT.iterrows():
    #try:
     #   tempdex = cust_id_list.index(row["Customer_id"])
      #  allaccountsbalance[tempdex] += row["LCYEOD"]
       # allaccountsavg[tempdex] += row["MTDAVG"]
    #except:
     #   counter+=1

#print(counter)

#newdict = dict(zip(customer_id_list, zip(allaccountsbalance, allaccountsavg)))
#BACCT = pd.DataFrame(newdict, names=["LYCEOD", "MTDAVG"]

#print(BACCT.size)
#cust_info = cust_info.merge(BACCT, on = "Customer_id")

In [34]:
QDUT_Input = QDUT_Input.drop(["Product_Code", "Currency", "FUM_RCY", "FUM_LCY", "Y_M",
                             "Product_Type", "Investment_Currency", "NAV_YYYYMM"], axis = 1)
QDUT_Input["Holding"] = 1
QDUT_Input = QDUT_Input.drop_duplicates(subset = "Customer_id", keep = 'first')
cust_info.reset_index()
cust_info = cust_info.assign(HoldingQDUT=cust_info["Customer_id"].isin(QDUT_Input["Customer_id"]).astype(int))

In [35]:
CPI_Input = CPI_Input.drop(["Product_Class", "Acct_id", "ACOpenDate", "Currency", "RCYEOD",
                             "LCYEOD", "MTDAVG", "Product_Code", "Investment_Currency",
                             "Start_Date", "Maturity_Date", "NAV"], axis = 1)
CPI_Input["Holding"] = 1
CPI_Input = CPI_Input.drop_duplicates(subset = "Customer_id", keep = 'first')
cust_info = cust_info.assign(HoldingCPI=cust_info["Customer_id"].isin(CPI_Input["Customer_id"]).astype(int))

In [36]:
Insurance_Input = Insurance_Input.drop(["Product_Code", "Term", "Market_Value", "Insurer", "Needs"], axis = 1)
Insurance_Input["Holding"] = 1
Insurance_Input = Insurance_Input.drop_duplicates(subset = "Customer_id", keep = 'first')
cust_info = cust_info.assign(HoldingInsurance=cust_info["Customer_id"].isin(Insurance_Input["Customer_id"]).astype(int))

In [37]:
TMD_Input = TMD_Input.drop(["Product_Class", "Acct_id", "ACOpenDate", "Currency", "RCYEOD",
                             "LCYEOD", "MTDAVG", "Term", "Startdate", "Duedate"], axis = 1)
TMD_Input["Holding"] = 1
TMD_Input = TMD_Input.drop_duplicates(subset = "Customer_id", keep = 'first')
cust_info = cust_info.assign(HoldingTMD=cust_info["Customer_id"].isin(TMD_Input["Customer_id"]).astype(int))

In [38]:
def process(df):
    #split into categorical and non-categorical dataframes
    categorical_feature_mask = df.dtypes==object
    categorical_cols = df.columns[categorical_feature_mask].tolist()

    df_cat = df[categorical_cols]
    df = df.drop(categorical_cols, axis = 1)
    
    #deal with null values
    #fixing nulls for numerical categories
    df = df.fillna(df.mean())
    #fixing nulls for non-numerical categories
    df_cat = df_cat.fillna("")
    
    #convert categorical to onehot
    #Convert to one hot
    from sklearn.preprocessing import OneHotEncoder
    enc = OneHotEncoder(handle_unknown='ignore')
    df_cat = enc.fit_transform(df_cat.astype(str))
    
    return df, df_cat

In [39]:
cust, cust_cat = process(cust_info)
#trans, trans_cat, tfm = preprocess(transaction_history)
#ISST, ISST_cat, ifm = preprocess(ISST_Summary)
#CPI, CPI_cat, cpifm = preprocess(CPI_Input)
#QDUT, QDUT_cat, qdutfm = preprocess(QDUT_Input)
#Insurance, Insurance_cat, insfm = preprocess(Insurance_Input)
#TMD, TMD_cat, tmdfm = preprocess(TMD_Input)

In [40]:
cust.dtypes

Customer_id           int64
age                 float64
FirstContactDay       int64
PBK_Ind               int64
OccuCode            float64
Salary              float64
Marital_Status      float64
Number_Children     float64
Education_Level     float64
Home_Ownership      float64
HoldingQDUT           int32
HoldingCPI            int32
HoldingInsurance      int32
HoldingTMD            int32
dtype: object

In [41]:
cust_cat.dtype

dtype('float64')

In [42]:
cust_cat = cust_cat.todense()

In [44]:
cust_cat.dtype

dtype('float64')

In [45]:
cust_info = cust.drop(columns = ["Customer_id"])

In [46]:
cust_info = cust.values

In [47]:
cust_info = np.hstack((cust_info, cust_cat))

In [49]:
#at this point, cust_info should have all the data we consolidated in numpy matrix form minus customer ids
cust_info

dtype('float64')